<div>
    <h1>Bienvenido {{user.name}}</h1>
    <p>Tu datos:</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <a href="/api/sessions/logout">Salir</a>
    
    <h2>Lista de productos </h2>
    {{#each products}}
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
    {{/each}}
</div>